<p>Please upload one of the following image types to verify:</p>

<ul>
  <li>BMP</li>
  <li>GIF</li>
  <li>JPG</li>
  <li>PNG</li>
  <li>TIFF</li>
</ul>

<form action='/' enctype="multipart/form-data" method='POST'>
    <input name="file" type="file">
    <input type="submit" accept = "image/*" value="Upload">
</form>